/* Personalização da área de bebidas */
#bebidas {
    border-width: 2px;
    border-style: solid;
    border-color: aqua;
    width: 200px;

    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    margin-left: 20px;

    text-align: center;

    background-image: url("../_images/qvarias-bebidas-central.png");
    background-repeat: repeat-x;
    
    line-height: 1;

    float: right;
}

#rodape {
    font-size: 70%;
    text-align: center;
    line-height: normal;
    margin-top: 30px;
}

.musica {
    font-style: italic;
}

.artista{
    font-weight: bold;
}

/* 
    Uso de pseudo-classe (pseudo seletores) para configurar css para um link <a>
    Uso: elemento:propriedade
*/
#bebidas a:link{
    color: green;
}

#bebidas a:visited{
    color: red;
}

#bebidas a:hover{
    color: yellow;
    background: #f88396;
}
