
.row {
    padding: 10px;
}

#secao1 {
    float: left;
    width: 70%;
    background-color: greenyellow;
    margin: 10px;
}

#secao2 {
    float: left;
    width: 25%;
    background-color: yellow;
    margin: 10px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}